@use "../../global" as g;

.p-gallery {
  @include g.responsive(md) {
  }
  @include g.responsive(xxl) {
  }

  &:nth-child(n + 2){
    margin-top: 60px;
    @include g.responsive(md) {
      margin-top: 90px;
    }
    @include g.responsive(xxl) {
    }
  }

  &__caption{
    text-align: center;
    font-size: 18px;
    @include g.responsive(md) {
      font-size: 24px;
    }
    @include g.responsive(xxl) {
    }
  }

  &__text{
    margin-top: 15px;
    text-align: center;
    line-height: 2;
  }

  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 15px;
    @include g.responsive(md) {
      padding: 0;
      margin-top: 30px;
    }
    @include g.responsive(xxl) {
    }
  }

  &__item{
    width: calc(25% - 9px);
    margin-bottom: 9px;

    @include g.responsive(md) {
      width: calc(16.666% - 18px);
      margin-bottom: 18px;
    }
    @include g.responsive(xxl) {
    }

    a{
      display: block;

      @media (any-hover:hover) {
        &:hover{
          box-shadow: g.$boxshadow2;
        }
      }
    }

    img{
      width: 100%;
    }
  }
}